body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.home h1 {
    font-family: "Gill Sans MT", Calibri, sans-serif;
}

.home h3 {
    font-family: "Gill Sans MT", Calibri, sans-serif;
}
